boto3==1.42.19
botocore==1.42.19
certifi==2025.11.12
charset-normalizer==3.4.4
coverage==7.13.1
idna==3.11
iniconfig==2.3.0
jmespath==1.0.1
numpy==2.4.0
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
types-requests==2.32.4.20250913
tzdata==2025.3
urllib3==2.6.2
